In [2]:
import pandas as pd

In [3]:
movies = pd.read_csv("../data/external/MovieLensDataSets/movies.csv")
ratings = pd.read_csv("../data/external/MovieLensDataSets/ratings.csv")
tags = pd.read_csv("../data/external/MovieLensDataSets/tags.csv")
links = pd.read_csv("../data/external/MovieLensDataSets/links.csv")

In [4]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
87580,292731,The Monroy Affaire (2022),Drama
87581,292737,Shelter in Solitude (2023),Comedy|Drama
87582,292753,Orca (2023),Drama
87583,292755,The Angry Breed (1968),Drama
87584,292757,Race to the Summit (2023),Action|Adventure|Documentary

In [5]:
ratings

          userId  movieId  rating   timestamp
0              1       17     4.0   944249077
1              1       25     1.0   944250228
2              1       29     2.0   943230976
3              1       30     5.0   944249077
4              1       32     5.0   943228858
...          ...      ...     ...         ...
32000199  200948    79702     4.5  1294412589
32000200  200948    79796     1.0  1287216292
32000201  200948    80350     0.5  1294412671
32000202  200948    80463     3.5  1350423800
32000203  200948    87304     4.5  1350423523

[32000204 rows x 4 columns]

In [6]:
tags

         userId  movieId             tag   timestamp
0            22    26479     Kevin Kline  1583038886
1            22    79592        misogyny  1581476297
2            22   247150      acrophobia  1622483469
3            34     2174           music  1249808064
4            34     2174           weird  1249808102
...         ...      ...             ...         ...
2000067  162279    90645      Rafe Spall  1320817734
2000068  162279    91079   Anton Yelchin  1322337407
2000069  162279    91079  Felicity Jones  1322337400
2000070  162279    91658     Rooney Mara  1325828398
2000071  162279   100714     Julie Delpy  1373095449

[2000072 rows x 4 columns]

In [7]:
links

       movieId    imdbId     tmdbId
0            1    114709      862.0
1            2    113497     8844.0
2            3    113228    15602.0
3            4    114885    31357.0
4            5    113041    11862.0
...        ...       ...        ...
87580   292731  26812510  1032473.0
87581   292737  14907358   986674.0
87582   292753  12388280   948139.0
87583   292755     64027   182776.0
87584   292757  28995566  1174725.0

[87585 rows x 3 columns]

In [ ]:
movies.columns = ['movieId', 'title', 'genres']

'''
movieId	é categórico nominal,	é o identificador  do filme.
title	é categórico nominal,	nome do filme.
genres	é categórico nominal,	lista de gêneros
'''

In [ ]:
ratings.columns = ['userId', 'movieId', 'rating', 'timestamp']

''' 
userId	é categórico nominal,	identificador de cada usuário.
movieId	é categórico nominal,	identificador do filme.
rating	é categórico ordinal, avaliação de 0.5 a 5.0 em passos de 0.5.
timestamp	é categórico ordinal, instante em que a nota foi dada.
'''

In [ ]:
tags.columns = ['userId', 'movieId', 'tag', 'timestamp']

'''
userId	é categórico nominal,	Identificador do usuário.
movieId	é categórico nominal,	Identificador do filme.
tag	categórico nominal, 	palavra ou frase associada ao filme.
timestamp	é categórico ordinal, instante em que a tag foi dada.
'''

In [ ]:
links.columns = ['movieId', 'imdbId', 'tmdbId']

'''
movieId	é categórico nominal,	identificador do filme.
imdbId	é categórico nominal, do mesmo filme no IMDb.
tmdbId	é categórico nominal, do mesmo filme no TMDb.
'''